In [1]:
import pandas as pd
import numpy as np
from pandas import set_option # Option to restrict display
set_option('display.max_rows',8)
set_option('display.max_columns',8)

In [6]:
# 
clouds = pd.read_csv('../../data/weather.txt',sep='\s+')

In [7]:
clouds.shape

(1, 124416)

In [8]:
clouds = clouds.transpose()
clouds.shape

(124416, 1)

In [9]:
clouds.columns=['cloud_cover']
clouds = clouds.reset_index()
del clouds['index']

In [10]:
clouds

        cloud_cover
0             31.48
1             31.48
2             31.48
3             31.48
...             ...
124412        71.52
124413        71.52
124414        71.52
124415        71.52

[124416 rows x 1 columns]

In [11]:
blank = pd.read_excel('../../data/blank_weather.xlsx',sep='\s+')

In [12]:
blank['cloud_cover'] = clouds['cloud_cover']

In [13]:
blank

        month  lattitude  longitude  cloud_cover
0           1      -90.0     -180.0        31.48
1           1      -90.0     -177.5        31.48
2           1      -90.0     -175.0        31.48
3           1      -90.0     -172.5        31.48
...       ...        ...        ...          ...
124412     12       87.5      170.0        71.52
124413     12       87.5      172.5        71.52
124414     12       87.5      175.0        71.52
124415     12       87.5      177.5        71.52

[124416 rows x 4 columns]